@font-face {
    font-family: Helvet;
    src: url(fonts/FreeSans.otf);

    font-family: Gilroy;
    src: url(fonts/Gilroy-ExtraBold.otf);

    font-family: Rationell;
    src: url(fonts/Fontspring-DEMO-rationell-regular.otf);

    font-family: Rhizome;
    src: url(fonts/Rhizome-RegularTrial.otf);
}
html {
  background-image: url(assets/Pattern.jpg);
  scroll-behavior: smooth;
}
*{
margin: 0;
  text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    color: white;
    font-size: 18px;
    padding-left: 55px;
    /* padding: 10px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  nav a {
    
    color: white;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-right: 40px; */
    font-family: Rhizome;
    

  }

  nav a:hover {
    color: #0c0c0c;
    background-color:#dab71f;
    border-radius: 50px;
    -webkit-transition: width 0.8s ease;
    transition: background-color 0.8s ease;
  }

  .navbar {
    margin-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  .logo {
    display: inline-block;
    justify-content: flex-start;
    z-index: 2;
    padding-right: 50%;
    padding-top: 0%;
    padding-bottom: 0%;
    flex: 3;
   
  }
  .LogoMain {
    object-fit: contain;
    width: 80px;
    height: 80px;
   
  }
  .LogoMain:hover {
    background-color:#dab71f;
    cursor: pointer;
   
  }

  .menu-icon {
    display: none; /* Hide the menu icon */
  }
.category-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13%;
}
.nav-btn {
  background-color: white;
  border: 1px solid #222222;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  font-family: Gilroy;
  -webkit-transition: width 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}

.nav-btn.active {
  background-color: #222222;
  color: white;
}
.nav-btn:hover{
  background-color: #222222;
  color: white;
  transform: scale(1.2);
}


  /* Style for the main content */
  .maincontainer1{
    display: flex;
    width: 1250px;
    height: 700px;
    background-color: rgb(247, 247, 247);
    margin-top: 8%;
    padding-bottom: 75%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.125);
    border-radius: 6px;
    opacity: .94;
  }

  h1
  .container1, .container2 {
    width: 48%; /* adjust this value to change the width of the boxes */
    height: 100px; /* adjust this value to change the height of the boxes */
    background-color: transparent; /* adjust this value to change the background color of the boxes */
    max-width: 800px;
    margin: 80px auto 40px;
    padding-bottom: 40%;
    /* padding: 20px; */
    /* text-align: center; */
    
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
  }


  h1 {
    font-size: clamp(1.5625rem, 0.7031rem + 2.75vw, 2.25rem);
    /* margin-bottom: 20px; */
    color: #333;
    /* margin-top: 23%; */
  }

  p {
    font-size: clamp(1rem, 0.9219rem + 0.25vw, 1.125rem);
    line-height: 1.5;
    margin-bottom: 20px;
    color: #333;
    max-width: 100%;
  }

  h1, p, .textinfo {
    /* margin-top: 15%; */
    padding-left: 8%;
    padding-right: 20px;
    /* padding-top: 20px; */
    font-family: Gilroy;
    
  }

  .btn-l {
    background-color: #222222;
    color: white;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #222222;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: width 0.4s ease;
  transition: background-color 0.4s ease;
}
.btn-r {
  background-color: #222222;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  box-sizing: border-box;
  border: 2px solid #222222;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: width 0.4s ease;
transition: background-color 0.4s ease;
}
.btn-M {
  margin-left: 1%;
  margin-top: 2%;
    background-color: white ;
    color: #222222;
    padding: 1vw 1vw;
    flex: 2;
    box-sizing: border-box;
    border: 2px solid #222222;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    -webkit-transition: width 0.4s ease;
  transition: background-color 0.4s ease;
}
.price {
  display: inline;
  font-weight: 900;
  
}

.categoryh1 {
  display: flex;
  justify-content: center;
  background-color: #0c0c0c;
  border: 1px #0c0c0c solid;
  border-radius: 5px;
  padding: 3px;
  padding-left: 2%;
  color: white;
  flex-basis: 30%;
}
.categoryh22 {
  margin-left: 6%;
  padding: 0;
  padding-left: 2%;
  font-size: 25px;
  color: red;
}
.categoryh2 {
  margin-left: 1%;
  padding: 0;
  padding-left: 2%;
  font-size: 20px;
}
.categoryh3 {
  margin-left: 6%;
  padding: 0;
  padding-left: 2%;
  font-size: 15px;
}
.payment {
  margin-top: 6%;
}
.btn-H {
  margin-left: 8%;
  margin-top: 2%;
  background-color: white;
  color: #222222;
  flex: 1;
  padding: 3px 3px;
  box-sizing: border-box;
  border: 2px solid #222222;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: width 0.4s ease;
  transition: 0.4s ease;
}
.btn-r:hover, .btn-M:hover {
  background-color: #222222;
  color: white;
}
.btn-H:hover {
  background-color: #222222;
  color: white;
}

#addtocart{
margin-left: 70%;
}

.textboxs {
  margin-left: 8%;
  margin-top: 2%;
  width: 25%;
  box-sizing: border-box;
  border: 2px solid #1b1b1b;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 14px;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

}

.textbox1 {
  margin-left: 8%;
  margin-top: 2%;
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #031737;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('password.png');
  background-position: 10px 14px;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

}

  .desc {
    width: 100%;
    flex: 1;
    
  }
  
  .t4s-team{
    margin-left: 10%;
    margin-top: -3%;
    width: 40vw;
    height: 50vw;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }


  .main1 {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  .row {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .column {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    flex: 1;
    width: 51vw;
    height: 36vw;
    background-color:white;
    margin: 15px 15px;
    padding: 10px 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .productpic {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    flex: 1;
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 35vw;
    object-fit: cover;
  }
  .productpic img , .productpic2 img {
    /* border:1px #0c0c0c solid;
    border-radius: 4px; */
    cursor: pointer;
  
  }
  .productpic2 {
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    flex: 1;
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 35vw;
    object-fit: contain;
  }
.buttons {
  display: flex;
  justify-content: end;
  flex: 1;
  margin: 20px 0px;

  
}

.productText {
  margin: 50px 0px;
  flex:6;
}

.textNbtn {
  display: flex;
  
  flex-direction: column;
}
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
  }

  .popup-content {
    background-color: #fefefe;
    margin-top: 8%;
    margin-bottom: 35%;
    margin-left: 35%;
    margin-right: 15%;
    padding: 20px;
    border-radius: 5px ;
    width: 25%;
   
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
  }
  
  .cart-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 16px 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .cart-button:hover {
   
    transform: scale(1.1);
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  
  }
  .cartlogo {
    padding-right: 3px;
  }
  .cart-popup {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 300px;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .cart-popup ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-popup li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .checkout-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 200px;
    z-index: 1;
  }  

  .popupCRT {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .popup-contentCRT {
    background-color: #fefefe;
    margin-top: 1%;
    margin-bottom: 35%;
    margin-left: 8%;
    margin-right: 15%;
    padding-top: 20px;
    padding-bottom: 400px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px ;
    width: 80%;
    
  }

  .checkoutdetails {
    background-color: #f8f8f8;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 160px;
    border-radius: 5px ;
    width: 80%;
    max-height: 200px; 
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }



	table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }

  td, th {
    border: 1px solid #ddd;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    padding-right: 55px;
    
  }

  th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* input[type=number] {
    width: 50px;
    padding: 5px;
    box-sizing: border-box;
  } */

  .buttonCRT {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .buttonCRT:hover {
    background-color: #3e8e41;
  }



  
  @media only screen and (max-width: 600px) {
    .bgcontainer {
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
    }
    .maincontainer1{
      width: 90%;
      height: 3550px;
     
    }
    .container {
      max-width: 90%;
    }
    .row{
      flex-direction: column;
    }
    .column{
      width: 80%;
    }
    .productpic{
      margin: 40px 0px;
      justify-content: space-evenly;
    }
    .productpic2{
      margin: 45px 0px;
      justify-content: space-evenly;
    }
    .btn-H{
      padding: 10px 5px;
    }
    .category-nav {
      margin-top: 30%;
      flex-direction: column;
    }
    .nav-btn{
      margin: 2% 0%;
    }
    .navbar {
      display: none;
      flex-wrap: wrap;
    } 
    .logo {
      display: flex;
      justify-content: center;
      padding: 0;
      margin-right: 110px;
    }
  
  }